body {
    font-family:Lato,'Helvetica Neue',serif;
    font-weight:400;
    background: gray;
}

.container-fluid {
    background:white;
}

#content_space {
    background-color:white;
    padding-bottom:50px;
    min-height:70vh;
    box-shadow:0px 0px 100px 0px;
}

#content_space img {
    display:block;
    width:80%;
    box-shadow:0px 0px 50px 0px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}

#nav {
    background:white;
    z-index:10;
    box-shadow:0px 0px 100px 0px;
}

#nav.affix {
    position:fixed;
    top:0px;
    width:100%;
    box-shadow:0px 0px 100px 0px;
}

#nav-wrapper {
    position:inline-block;
    height:60px;
    margin-bottom:40px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}