body {
	background:white;
	font-family:Lato,'Helvetica Neue',Helvetica;
	color:black;
	text-align:center;
}

#start {
	padding:15px;
	text-align:left;
}

#message {
	padding:55px;
	background:#3071a9;
	color:white;
}

#board_space {
	padding:15px;
	background:#3071a9;
}

#connectBoard {
	text-align:center;
	width:100%;
	min-height:100%;
	background:#3071a9;
	margin-top:0px;
}
	td {
		border-radius:50%;
		padding:0px;
	}

	#connectBoard button {
		width:75%;
		height:75%;
	}
		.empty {
			background:#428bca;
		}

		.x {
			background:white;
		}

		.o {
			background:black;
		}
