body {
	background:white;
	font-family:Lato,'Helvetica Neue',Helvetica;
	color:black;
	text-align:left;
}

#activeSpace {
	text-align:left;
	width:400px;
	background:#99CCFF;
	margin:auto;
	padding:15px;
}

#message {
	color:gray;
	padding-left:50px;
	padding-right:50px;
}

#theBoard {
	width:100%;
}

#knightourBoard {
	text-align:center;
	background:black;
	width:100%;
	min-height:100%;
	margin-top:25px;
	margin-bottom:25px;
}
		.whiteSquare {
			background:#F0D9B5;
		}

		.blackSquare {
			background:#B58863;
		}

		.currentKnight {
			background:blue;
		}

		.usedSquare {
			background:red;
		}
