body {
	background:white;
	font-family:Lato,'Helvetica Neue',Helvetica;
	color:black;
	text-align:left;
}

#cover_space {
	background:#B58863;
}

#message {
	color:gray;
}

#theBoard {
	width:100%;
}

#knightourBoard {
	text-align:center;
	background:white;
	width:100%;
	min-height:100%;
	margin-top:25px;
	margin-bottom:25px;
}

	td {
		width:1px;
	}
		.whiteSquare {
			background:#F0D9B5;
		}

		.blackSquare {
			background:#B58863;
		}

		.currentKnight {
			background:white;
		}

		.usedSquareBlack {
			/*background:rgba(181,136,99,0.5);*/
			background:#3071A9;

		}

		.usedSquareWhite {
			/*background:rgba(240,217,181,0.5);*/
			background:#82BEFB;
		}
